<footer>
	<div id='footer-content'>
		<div id='footer-details'>
			<div>
				<div><a href='/' aria-label='Home'><img src='assets/images/foragers-footer-logo.svg' width="211" height="97" alt='Foragers logo with tagline, mead, food, friends' /></a></div>
				<div>
					<span>Connect</span>
					<span><a href="tel:+16045555555">604 555 5555</a></span>
					<span><a href="mailto:info@foragersmead.ca">info@foragersmead.ca</a></span>
				</div>
				<div>
					<span>Explore</span>
					<span><a href="on-the-table.html#current-menu">Our seasonal menu</a></span>
					<span><a href="visit-foragers.html#here-on-the-coast">Location and hours</a></span>
				</div>
				<div>
					<span>Tip-free establishment</span>
					<span>We are a living-wage employer</span>
					<span>Welcoming guests 19 years and older</span>
				</div>
			</div>
		</div>
		<div id='footer-copyright'>
			<div>
				&copy; 2025 Foragers, All rights reserved • <span>Design and branding by <a href="mailto:nkingdesign@gmail.com">Naomi King</a>.</span>
			</div>
		</div>
	</div>
</footer>
