<footer>
	<div id='footer-content'>
		<div id='footer-details'>
			<div>
				<div><img src='assets/images/foragers-footer-logo.svg' width="211" height="97" alt='Foragers logo with tagline, mead, food, friends' /></div>
				<div>
					<span>Contact</span>
					<span><a href="mailto:info@foragersmead.ca">info@foragersmead.ca</a></span>
					<span class='hide-on-small'>&nbsp;</span>
				</div>
				<div>
					<span>Hours</span>
					<span>Until Spring 2026</span>
					<span>Find us at local farm markets</span>
				</div>
				<div>
					<span>Location</span>
					<span>Roberts Creek, BC</span>
					<span>Opening soon</span>
				</div>
			</div>
		</div>
		<div id='footer-copyright'>
			<div>
				&copy; 2025 Foragers, All rights reserved • <span>Design and branding by <a href="mailto:nkingdesign@gmail.com">Naomi King</a>.</span>
			</div>
		</div>
	</div>
</footer>
