<footer>
	<div id='footer-content'>
		<div id='footer-details'>
			<div>
				<div><a href='/' aria-label='Home'><img src='assets/images/foragers-footer-logo.svg' width="211" height="97" alt='Foragers logo with tagline, mead, food, friends' /></a></div>
				<div>
					<span>Connect</span>
					<span><a href="tel:+1866-553-5588">866-553-5588</a></span>
					<span><a href="mailto:info@foragersmead.com">info@foragersmead.com</a></span>
				</div>
				<div>
					<span>Explore</span>
					<span><a href="on-the-table.html#current-menu">Our seasonal menu</a></span>
					<span><a href="visit-foragers.html#here-on-the-coast">Location and hours</a></span>
				</div>
				<div>
					<span>Experience</span>
					<span>Foragers is a <a href='reserve-your-place#hospitality'>tip-free establishment</a></span>
					<span>Welcoming guests 13 years and older</span>
				</div>
			</div>
		</div>
		<div id='footer-copyright'>
			<div>
				&copy; 2026 Foragers • All rights reserved • <span>Design and branding by <a href="mailto:nkingdesign@gmail.com">Naomi King</a></span>
			</div>
		</div>
	</div>
		<div class="footer-back-to-top-wrap">
		<button class="footer-back-to-top" id="footer-back-to-top" type="button">
			<span class="footer-back-to-top__icon" aria-hidden="true"></span>
			<span class="footer-back-to-top__label">Back to top</span>
		</button>
	</div>
</footer>
