<header>
	<div class='header-wrapper'>
		<div id="banner-weather" aria-live="polite"><div class='conditions'></div></div>
		<div id="banner-logo"><a href="index.html"><img src='assets/images/foragers-header-logo.svg' alt='Foragers — Home' /></a></div>
		<div id="banner-location"><div style="line-height: 1.35"><span>Sunshine Coast BC</span> <small><a href="on-the-table.html#current-menu">Explore our seasonal menu</a><br /><a href="visit-foragers.html#here-on-the-coast">Location &amp; hours</a></small></div></div>
	</div>
</header>
