<a class="skip-link" href="#main-content">Skip to main content</a>
<header>
	<div class='header-wrapper'>
		<div id="banner-weather" aria-live="polite"><div class='conditions'></div></div>
		<div id="banner-logo"><a href="index.html"><img src='assets/images/foragers-header-logo.svg' alt='Foragers — Home' /></a></div>
		<div id="banner-location"><div style="line-height: 1.35"><span>Reserve a table</span> <small>Join us above the orchard<br /><a class="banner-link-with-bookmark" href="reserve-your-place.html">Book your reservation</a></small></div></div>
	</div>
</header>
