<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="styles/style.css" rel="stylesheet">
<link rel="icon" type="image/png" href="assets/images/bee.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" href="assets/images/bee-light.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" href="assets/images/bee-favicon.png">
