<a class="skip-link" href="#main-content">Skip to main content</a>
<header>
	<div class='header-wrapper'>
		<div id="banner-weather" aria-live="polite"><div><span class='title'>Sunshine Coast BC</span><div class='conditions'></div></div></div>
		<div id="banner-logo"><a href="index.html"><img src='assets/images/foragers-header-logo.svg' alt='Foragers — Home' /></a></div>
		<div id="banner-location"><div class="quick-links"><small><a href="on-the-table.html#current-menu">Explore our seasonal menu</a><br /><a href="visit-foragers.html#here-on-the-coast">Location &amp; hours</a><br /><a class="banner-link" href="reserve-your-place.html#opentable">Book your reservation</a></small></div></div>
	</div>
</header>
